<div class="row form-horizontal">

    <div class="col-xs-0 col-sm-2 col-md-3 col-lg-4"></div>

    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">

        <div class="form-group">
            <label for="candidateName" class="col-xs-2 control-label">Name</label>
            <div class="col-xs-10">
                <input ng-model="candidate.model.name" type="text" class="form-control"
                       id="candidateName" placeholder="Name">
            </div>
        </div>

        <div class="form-group">
            <label for="birthday" class="col-xs-2 control-label">Birthday</label>
            <div class="col-xs-10">
                <input ng-model="candidate.model.birthday" type="text" class="form-control"
                       id="birthday" placeholder="Birthday">
            </div>


            <!--<div class='input-group date'>-->
                <!--<input ng-model="candidate.model.birthday"-->
                       <!--type='text'-->
                       <!--date-time-picker-->
                       <!--name="birthday"-->
                       <!--id="birthday"-->
                       <!--class="form-control"-->
                <!--/>-->
                <!--<span class="input-group-addon">-->
                            <!--<i class="font-icon font-icon-calend"></i>-->
                        <!--</span>-->
            <!--</div>-->


        </div>

        <div class="form-group">
            <label for="experience" class="col-xs-2 control-label">Experience</label>
            <div class="col-xs-10">
                <input ng-model="candidate.model.experience" type="number" min="0" class="form-control"
                       id="experience" placeholder="Experience">
            </div>
        </div>

        <b>Frameworks:</b>
        <div class="form-group">

            <div class="col-xs-10">
                <input ng-model="candidate.model.Yii1" type="checkbox" id="Yii1">Yii1
                <input ng-model="candidate.model.Yii2" type="checkbox" id="Yii2">Yii2
                <input ng-model="candidate.model.Laravel" type="checkbox" id="Laravel">Laravel
                <input ng-model="candidate.model.Symphony" type="checkbox" id="Symphony">Symphony
                <input ng-model="candidate.model.Zend" type="checkbox" id="Zend">Zend
            </div>
        </div>

        <div class="form-group">
            <label for="comment" class="col-xs-2 control-label">Comment</label>
            <div class="col-xs-10">
                <textarea ng-model="candidate.model.comment" class="form-control"
                       id="comment" placeholder="Comment">
                </textarea>
            </div>
        </div>
    </div>

    <div class="col-xs-0 col-sm-2 col-md-3 col-lg-4"></div>

</div>
<div class="row text-center">
    <button ng-if="candidate.action == candidate.actions.UPDATE" ng-click="candidate.update()"
            class="btn btn-primary">{{ candidate.action }}</button>
    <button ng-if="candidate.action == candidate.actions.CREATE" ng-click="candidate.create()"
            class="btn btn-success">{{ candidate.action }}</button>
</div>

