<div>

    <div class="row">
        <div class="col-xs-0 col-sm-2"></div>
        <div class="col-xs-12 col-sm-8">
            <h2>{{ candidate.title }}</h2>
            <a href="/candidate/create" class="btn btn-primary">Create</a>
            <br/><br/>

            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Creation date</th>
                    <th>Name</th>
                    <th>Birthday</th>
                    <th>Experience</th>
                    <th>Frameworks</th>
                    <th>Comment</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="t in candidate.list">
                    <td>{{ t.created_at }}</td>
                    <td>{{ t.name }}</td>
                    <td>{{ t.birthday }}</td>
                    <td>{{ t.experience }}</td>
                    <td>
                        <span ng-if="t.Yii1 == 1">Yii1 </span>
                        <span ng-if="t.Yii2 == 1">Yii2</span>
                        <span ng-if="t.Laravel == 1">Laravel</span>
                        <span ng-if="t.Symphony == 1">Symphony</span>
                        <span ng-if="t.Zend == 1">Zend</span>
                    </td>
                    <td>{{ t.comment }}</td>
                    <td>
                        <a href="/candidate/{{ t.id }}/update">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Edit"></span>
                        </a>
                        <a href="" ng-click="candidate.delete(t.id)">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Delete"></span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
        <div class="col-xs-0 col-sm-2"></div>
    </div>

</div>